*.baml
*.exe
*.cache
*.manifest
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/RenJiCaoZuo.Properties.Resources.resources
obj/Debug/RenJiCaoZuo.csproj.FileListAbsolute.txt
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/App.g.i.cs
obj/Debug/App.g.cs
bin/Debug/Xceed.Wpf.Toolkit.dll
bin/Debug/Touch.vshost.exe.config
bin/Debug/Touch.vshost.application
bin/Debug/Touch.pdb
bin/Debug/Touch.exe.config
bin/Debug/Touch.application
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Newtonsoft.Json.dll
*.pdb
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Touch.application
obj/Debug/Touch.g.resources
obj/Debug/Touch.TrustInfo.xml
obj/Debug/Touch_MarkupCompile.i.lref
obj/Debug/Touch_MarkupCompile.lref
obj/Debug/View/Introduction.g.cs
obj/Debug/View/Introduction.g.i.cs
obj/Debug/View/MainWindow.g.cs
obj/Debug/View/MainWindow.g.i.cs
obj/Debug/View/Page19/Introduction.g.cs
obj/Debug/View/Page19/Introduction.g.i.cs
obj/Debug/View/Page19/LoginPassord.g.cs
obj/Debug/View/Page19/LoginPassord.g.i.cs
obj/Debug/View/Page19/MainPage.g.cs
obj/Debug/View/Page19/MainPage.g.i.cs
obj/Debug/View/Page19/ModifyPassword.g.cs
obj/Debug/View/Page19/ModifyPassword.g.i.cs
obj/Debug/View/Page19/SettingWindow.g.cs
obj/Debug/View/Page19/SettingWindow.g.i.cs
obj/Debug/View/Page19/ShutDownSetting.g.cs
obj/Debug/View/Page19/ShutDownSetting.g.i.cs
obj/Debug/View/PageOrg/Introduction.g.cs
obj/Debug/View/PageOrg/Introduction.g.i.cs
obj/Debug/View/PageOrg/LoginPassord.g.cs
obj/Debug/View/PageOrg/LoginPassord.g.i.cs
obj/Debug/View/PageOrg/MainPage.g.cs
obj/Debug/View/PageOrg/MainPage.g.i.cs
obj/Debug/View/PageOrg/ModifyPassword.g.cs
obj/Debug/View/PageOrg/ModifyPassword.g.i.cs
obj/Debug/View/PageOrg/SettingWindow.g.cs
obj/Debug/View/PageOrg/SettingWindow.g.i.cs
obj/Debug/View/PageOrg/ShutDownSetting.g.cs
obj/Debug/View/PageOrg/ShutDownSetting.g.i.cs
obj/Debug/View/RollingTextBlock.g.cs
obj/Debug/View/RollingTextBlock.g.i.cs
bin/Debug/Res/Page21/上一页.png
bin/Debug/Res/Page21/下一页.png
bin/Debug/Res/Page21/更 多.png
bin/Debug/Res/Page21/矩形 1 拷贝 2.png
bin/Debug/Res/Page21/矩形 1 拷贝.png
bin/Debug/Res/Page21/矩形 1.png
bin/Debug/Res/Page21/设定画面button的外框.png
bin/Debug/Res/Page21/设定画面背景图.png
obj/Debug/View/Page21/Introduction.g.cs
obj/Debug/View/Page21/Introduction.g.i.cs
obj/Debug/View/Page21/LoginPassord.g.cs
obj/Debug/View/Page21/LoginPassord.g.i.cs
obj/Debug/View/Page21/MainPage.g.cs
obj/Debug/View/Page21/MainPage.g.i.cs
obj/Debug/View/Page21/ModifyPassword.g.cs
obj/Debug/View/Page21/ModifyPassword.g.i.cs
obj/Debug/View/Page21/SettingWindow.g.cs
obj/Debug/View/Page21/SettingWindow.g.i.cs
obj/Debug/View/Page21/ShutDownSetting.g.cs
obj/Debug/View/Page21/ShutDownSetting.g.i.cs
obj/Debug/View/Page42/Introduction.g.cs
obj/Debug/View/Page42/Introduction.g.i.cs
obj/Debug/View/Page42/LoginPassord.g.cs
obj/Debug/View/Page42/LoginPassord.g.i.cs
obj/Debug/View/Page42/MainPage.g.cs
obj/Debug/View/Page42/MainPage.g.i.cs
obj/Debug/View/Page42/ModifyPassword.g.cs
obj/Debug/View/Page42/ModifyPassword.g.i.cs
obj/Debug/View/Page42/SettingWindow.g.cs
obj/Debug/View/Page42/SettingWindow.g.i.cs
obj/Debug/View/Page42/ShutDownSetting.g.cs
obj/Debug/View/Page42/ShutDownSetting.g.i.cs
RenJiCaoZuo_page.v12.suo
obj/Debug/Touch_Content.g.i.cs
obj/Debug/View/Page19/MainPage - Copy.g.i.cs
obj/Debug/View/Page19/MainPage_2.g.cs
obj/Debug/View/Page19/MainPage_2.g.i.cs
obj/Debug/SiMiaoMultiPage.csproj.FileListAbsolute.txt
SiMiaoMultiPage.suo
SiMiaoMultiPage.v12.suo
