<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!--Org,19,19_2，19_3,21 ,42,55-->
    <add key="DisplayInch" value="42" />
    <!--1:法师信息画面，2：活动信息画面 ,3:视频画面-->
    <add key="FirstPageName" value="3" />
    <add key="LinkMod" value="https://" />
    <add key="domino" value="temple.reeing.com" />
    <add key="port" value="8443" />
    <add key="url" value="/temple/a/pc/access" />
    <add key="TempleInfo_Interface" value="templeInfo" />
    <add key="Interface_Param" value="templeId" />
    <add key="Interface_id" value="a97f0c18c4ec432097ff6b2233c0d53c" />
    <add key="MonkInfo_Interface" value="monkInfo" />
    <add key="ActivityInfo_Interface" value="activityInfo" />
    <add key="getActivityById_Interface" value="getactivityInfo" />
    <add key="qRCodeInfo_Interface" value="qRCodeInfo" />
    <add key="TemplePayHistory_Interface" value="templePayHistory" />
    <add key="housePayHistory_Interface" value="housePayHistory" />
    <add key="housePayHistory_Param" value="houseId" />
    <add key="housePayHistory_id" value="558c1e4d785b45ac81f1aef44af497cc" />
    <add key="PageRefreshTime" value="20" />
    <add key="ShutDownTime" value="06:50" />
    
    <add key="DefaultShutDownTime" value="20:30" />
    <add key="Password" value="123456" />
    <add key="VersionNo" value="1.0.0.0" />
    <add key="UpdateLink" value="http://localhost:280/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Video_Path" value="D:\GitClone\DongHuashi\Video\MVI_70731.mp4" />
    <add key="Video_Play_Mode" value="Fill" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
